body {
  margin: auto;
  display: flex;
  justify-content: center;
  background: rgb(132, 165, 188);
}
.box_main {
  position: absolute;
  margin-top: 40px;
  height: 1080px;
  width: 950px;
  background: rgb(255, 255, 255);
}
.box_left {
  position: absolute;
  background: #2f4f4f;
  height: auto;
  width: 320px;
  height: 1000px;
  padding: 40px 40px 40px 40px;
}
.box_right {
  position: absolute;
  background: #ffffff;
  padding: 20px 40px 40px 40px;
  width: 470px;
  height: 1000px;
  left: 400px;
}
.box_photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  height: 230px;
  width: 230px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}
.style_h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 3px;
}
.style_p_box_left {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}
.style_h2_box_left {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
}
.box_left_ul {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.3;
}
.style_h2_box_right {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000000;
  text-align: center;
  letter-spacing: 3px;
}
.style_p_box_right {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000000;
  text-align: left;
  font-size: 16px;
}
.box_right_ul {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.3;
}
.footer_right {
  float: right;
}
.footer_left {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  bottom: 40px;
  left: 130px;
}